<section class="content-header">
  <h1>
    Page d'affichage des produits commandés
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Accueil</a></li>
    <li class="active">Liste produits commande</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box box-success">
        <div class="box-header">
          <h3 class="box-title">Liste produits commande</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <table id="example1" class="table table-bordered table-striped">
            <thead>
            <tr>
              <th>Quantité</th>
              <th>Commande</th>
              <th>Produits commandés</th>
              <th *ngIf="authService.isAdmin()">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let produitsCommande of produitsCommandes">
              <td>{{produitsCommande.quantite}}</td>
              <td>{{produitsCommande.commande.code}}</td>
              <td>{{produitsCommande.produits.designation}}</td>
              <td>
                  <!--<a class="clickable" (click)="delete(produitsCommande)" *ngIf="authService.isAdmin()"><span class="glyphicon glyphicon-trash"></span></a>-->
                </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
