<section class="content-header">
  <h1>
    Page d'affichage des clients
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Accueil</a></li>
    <li>Gestion des utilisateurs</li>
    <li class="active">Liste des clients</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box box-success">
        <div class="box-header">
          <h3 class="box-title">Liste des clients</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <table id="example1" class="table table-bordered table-striped">
            <thead>
            <tr>
              <th>Numéro</th>
              <th>Prénom</th>
              <th>Nom</th>
              <th>Email</th>
              <th>Téléphone</th>
              <th>Adresse</th>
              <th>Ville</th>
              <th *ngIf="authService.isAdmin()">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let acheteur of acheteurs">
              <td>{{acheteur.id_acheteur}}</td>
              <td>{{acheteur.prenom}}</td>
              <td>{{acheteur.nom}}</td>
              <td>{{acheteur.email}}</td>
              <td>{{acheteur.tel}}</td>
              <td>{{acheteur.adresse}}</td>
              <td>{{acheteur.ville.nom}}</td>
              <td *ngIf="authService.isAdmin()">
                <a class="clickable" (click)="delete(acheteur)"><span class="glyphicon glyphicon-trash"></span></a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="box-footer" *ngIf="authService.isPrestataire()">
          <button class="btn btn-success center-block" (click)="add()">Ajouter</button>
        </div>
      </div>
    </div>
  </div>
</section>
