<section class="content-header">
  <h1>
    Page d'affichage des commandes passées
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Accueil</a></li>
    <li>Gestion des commandes</li>
    <li class="active">Liste des commandes passées</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box box-success">
        <div class="box-header">
          <h3 class="box-title">Liste des commandes passées</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <table id="example1" class="table table-bordered table-striped">
            <thead>
            <tr>
              <th>Code</th>
              <th>Date commande</th>
              <th>Etat commande</th>
              <th>Produits</th>
              <th>Quantite</th>
              <th>Client</th>
              <th *ngIf="authService.isAuthenticated()">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let cp of commandesParPrestataire">
              <td>{{cp.code}}</td>
              <td>{{cp.date_commande|date:'dd/MM/yyyy'}}</td>
              <td>{{cp.etat}}</td>
              <td>{{cp.produit.designation}}</td>
              <td>{{cp.quantite}}</td>
              <td>{{cp.acheteur.prenom}} {{cp.acheteur.nom}}</td>
              <td>
                <a class="clickable" (click)="edit(cp.code)" *ngIf="authService.isPrestataire()"><span class="glyphicon glyphicon-pencil"></span></a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="box-footer" *ngIf="authService.isPrestataire()">
          <button class="btn btn-success center-block" (click)="add()">Ajouter</button>
        </div>
      </div>
    </div>
  </div>
</section>
